body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
  justify-content: center;
}
#show-detail{
  text-align: center;
}
.single-product {
  padding: 10px;
  margin: 5px;
  background-color: rgba(73, 183, 226, 0.055);
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 3px 3px 5px rgba(219, 155, 155, 0.794);
  border-radius: 5px;
  border: 1px solid rgba(56, 14, 2, 0.863);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
